<!doctype html>
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="王伟">
  <meta name="Keywords" content="10年web开发经验 专注vue+php APP开发">
  <meta name="Description" content="php go development">
  <title>王伟的便笺</title>
 </head>
 <body>
 <% for (item of htmlWebpackPlugin.options.customJs) { %>
	<script src="js/<%= item %>"></script>
<% } %>
 	<div id="app">
			<router-view></router-view>
	</div>
 </body>

</html>
